<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="icon" href="../static/favicon.ico">

    <title>Library</title>
  </head>
  <body>
    <hr>
      <div class="pb-1">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

                {% if this_page == 1 %}
                  <li class="page-item"><a class="page-link" href="{{"index" + this_page|string + ".html"}}">Назад</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="{{"index" + (this_page - 1)|string + ".html"}}">Назад</a></li>
                {% endif %}

                {% for page in range(1, pages_numbers + 1) %}
                  {% if page == this_page %}
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">
                        {{this_page}}
                        <span class="sr-only">(current)</span>
                      </span>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="{{"index" + page|string + ".html"}}">{{page}}</a></li>
                  {% endif %}
                {% endfor %}

                {% if this_page == pages_numbers %}
                  <li class="page-item"><a class="page-link" href="{{"index" + this_page|string + ".html"}}">Вперёд</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="{{"index" + (this_page + 1)|string + ".html"}}">Вперёд</a></li>
                {% endif %}

          </ul>
        </nav>
      </div>
    </hr>
    {% for book in books %}
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../{{book[0].img_scr|urlencode}}" class="card-img" alt="{{book[0].title}} book">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{book[0].title}}</h5>
                    <p class="card-text">{{book[0].author}}</p>
                    <h6>
                    {% for genre in book[0].genres %}
                      <span class="badge badge-light">{{genre}}</span>
                    {% endfor %}
                    </h6>
                    <a href="../{{book[0].book_path|urlencode}}" target="_blank">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if book[1] %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{book[1].img_scr|urlencode}}" class="card-img" alt="{{book[1].title}} book">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{book[1].title}}</h5>
                      <p class="card-text">{{book[1].author}}</p>
                      <h6>
                      {% for genre in book[1].genres %}
                        <span class="badge badge-light">{{genre}}</span>
                      {% endfor %}
                      </h6>
                      <a href="../{{book[1].book_path|urlencode}}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
